In [38]:
import pandas as pd

# XGBoost Numeric Example

In [39]:
data = {
    'goals': [1, 2, 3, 4],
    'Wins': [10, 15, 25, 35]
}

data = pd.DataFrame(data)

In [40]:
data

   goals  Wins
0      1    10
1      2    15
2      3    25
3      4    35

### Step 2: Initial Prediction
The initial prediction is simply the mean of the target 'Wins'.

In [41]:
initial_prediction = data['Wins'].mean()
data['Initial Prediction'] = initial_prediction
data

   goals  Wins  Initial Prediction
0      1    10               21.25
1      2    15               21.25
2      3    25               21.25
3      4    35               21.25

### Step 3: Calculate Residuals
Residuals are the difference between the actual 'Wins' and the initial predictions.

In [42]:
data['Residuals'] = data['Wins'] - data['Initial Prediction']
data

   goals  Wins  Initial Prediction  Residuals
0      1    10               21.25     -11.25
1      2    15               21.25      -6.25
2      3    25               21.25       3.75
3      4    35               21.25      13.75

### Step 4: Train a Tree to Predict Residuals
For simplicity, we will assume the tree learns the following predicted residuals.

In [43]:
data['Predicted Residuals'] = [-9, -5, 4, 10]
data

   goals  Wins  Initial Prediction  Residuals  Predicted Residuals
0      1    10               21.25     -11.25                   -9
1      2    15               21.25      -6.25                   -5
2      3    25               21.25       3.75                    4
3      4    35               21.25      13.75                   10

In [44]:
lr = 0.1

### Step 5: Update Predictions
Update the model's predictions by adding the predicted residuals to the initial predictions.

In [45]:
data['Updated Prediction'] = data['Initial Prediction'] + lr * data['Predicted Residuals']
data

,goals,Wins,Initial Prediction,Residuals,Predicted Residuals,Updated Prediction
0,1,10,21.25,-11.25,-9,20.35
1,2,15,21.25,-6.25,-5,20.75
2,3,25,21.25,3.75,4,21.65
3,4,35,21.25,13.75,10,22.25

### Step 6: Calculate New Residuals
Calculate the new residuals based on the updated predictions.

In [46]:
data['New Residuals'] = data['Wins'] - data['Updated Prediction']
data

,goals,Wins,Initial Prediction,Residuals,Predicted Residuals,Updated Prediction,New Residuals
0,1,10,21.25,-11.25,-9,20.35,-10.35
1,2,15,21.25,-6.25,-5,20.75,-5.75
2,3,25,21.25,3.75,4,21.65,3.35
3,4,35,21.25,13.75,10,22.25,12.75

In [47]:
data['Predicted Residuals2'] = [-10, -5.5, 3.2, 11]
data

,goals,Wins,Initial Prediction,Residuals,Predicted Residuals,Updated Prediction,New Residuals,Predicted Residuals2
0,1,10,21.25,-11.25,-9,20.35,-10.35,-10.0
1,2,15,21.25,-6.25,-5,20.75,-5.75,-5.5
2,3,25,21.25,3.75,4,21.65,3.35,3.2
3,4,35,21.25,13.75,10,22.25,12.75,11.0

In [48]:
data['Updated Prediction2'] = data['Updated Prediction'] + lr * data['Predicted Residuals2']
data

,goals,Wins,Initial Prediction,Residuals,Predicted Residuals,Updated Prediction,New Residuals,Predicted Residuals2,Updated Prediction2
0,1,10,21.25,-11.25,-9,20.35,-10.35,-10.0,19.35
1,2,15,21.25,-6.25,-5,20.75,-5.75,-5.5,20.20
2,3,25,21.25,3.75,4,21.65,3.35,3.2,21.97
3,4,35,21.25,13.75,10,22.25,12.75,11.0,23.35

In [49]:
data['Final Prediction'] = data['Updated Prediction2']

In [50]:
data

,goals,Wins,Initial Prediction,Residuals,Predicted Residuals,Updated Prediction,New Residuals,Predicted Residuals2,Updated Prediction2,Final Prediction
0,1,10,21.25,-11.25,-9,20.35,-10.35,-10.0,19.35,19.35
1,2,15,21.25,-6.25,-5,20.75,-5.75,-5.5,20.20,20.20
2,3,25,21.25,3.75,4,21.65,3.35,3.2,21.97,21.97
3,4,35,21.25,13.75,10,22.25,12.75,11.0,23.35,23.35