In [1]:
import pandas as pd

# Creating a DF

In [2]:
data = {
    'Team': ['Spain', 'England', 'Israel'],
    'Chance_of_winning': [100, 50, 0.01],
    'City': ['Barcelona', 'Manchester', 'Mitzpe Ramon']
}

df = pd.DataFrame(data)

In [3]:
df

      Team  Chance_of_winning          City
0    Spain             100.00     Barcelona
1  England              50.00    Manchester
2   Israel               0.01  Mitzpe Ramon

# Loading a DF From the Disk

In [198]:
df = pd.read_csv('Euro_2024_Matches.csv')

In [6]:
df.head()

,stadium,attendance,home_team,away_team,home_goals,away_goals,Home Expected goals(xG),Home Total shots,Home Shots on target,Home Big chances,...,Away Red cards,Away Tackles won,Away Interceptions,Away Blocks,Away Clearances,Away Keeper saves,Away Duels won,Away Ground duels won,Away Aerial duels won,Away Successful dribbles
0,Fuball Arena Mnchen,"65,052",Germany,Scotland,5,1,2.15,20,10,1,...,1,8(53%),6,5,22,5,41,34(58%),7(44%),5(56%)
1,Cologne Stadium,"41,676",Hungary,Switzerland,1,3,1.25,6,2,3,...,0,9(69%),6,1,17,1,41,26(45%),15(48%),5(38%)
2,Olympiastadion Berlin,"68,844",Spain,Croatia,3,0,2.01,11,5,4,...,0,10(71%),9,3,4,2,47,37(51%),10(34%),10(77%)
3,BVB Stadion Dortmund,"60,512",Italy,Albania,2,1,1.56,17,5,5,...,0,5(63%),13,6,15,3,26,16(39%),10(63%),2(29%)
4,Volksparkstadion,"48,117",Poland,Netherlands,1,2,1.32,12,7,2,...,0,11(79%),3,1,21,6,54,38(56%),16(64%),14(70%)

# Pandas General Utils

In [10]:
df.tail(3)

,stadium,attendance,home_team,away_team,home_goals,away_goals,Home Expected goals(xG),Home Total shots,Home Shots on target,Home Big chances,...,Away Red cards,Away Tackles won,Away Interceptions,Away Blocks,Away Clearances,Away Keeper saves,Away Duels won,Away Ground duels won,Away Aerial duels won,Away Successful dribbles
48,Fuball Arena Mnchen,"62,042",Spain,France,2,1,0.75,6,2,1,...,0,12(63%),5,2,16,0,50,35(56%),15(75%),8(62%)
49,BVB Stadion Dortmund,"60,926",Netherlands,England,1,2,0.54,7,2,0,...,0,6(60%),7,2,5,2,34,26(57%),8(47%),6(55%)
50,Olympiastadion Berlin,"65,600",Spain,England,2,1,1.77,16,6,5,...,0,12(67%),5,5,27,4,43,33(60%),10(43%),4(33%)

In [11]:
print(df.shape)

(51, 86)

In [12]:
print(df.columns)

Index(['stadium', 'attendance', 'home_team', 'away_team', 'home_goals',
       'away_goals', 'Home Expected goals(xG)', 'Home Total shots',
       'Home Shots on target', 'Home Big chances', 'Home Big chances missed',
       'Home Accurate passes', 'Home Fouls committed', 'Home Corners',
       'Home Total shots.', 'Home Shots off target', 'Home Shots on target.',
       'Home Blocked shots', 'Home Hit woodwork', 'Home Shots inside box',
       'Home Shots outside box', 'Home Expected goals (xG)',
       'Home xG open play', 'Home xG set play', 'Home Non-penalty xG',
       'Home xG on target (xGOT)', 'Home Passes', 'Home Accurate passes.1',
       'Home Own half', 'Home Opposition half', 'Home Accurate long balls',
       'Home Accurate crosses', 'Home Throws',
       'Home Touches in opposition box', 'Home Offsides', 'Home Yellow cards',
       'Home Red cards', 'Home Tackles won', 'Home Interceptions',
       'Home Blocks', 'Home Clearances', 'Home Keeper saves', 'Home Duels won',
       'Home Ground duels won', 'Home Aerial duels won',
       'Home Successful dribbles', 'Away Expected goals(xG)',
       'Away Total shots', 'Away Shots on target', 'Away Big chances',
       'Away Big chances missed', 'Away Accurate passes',
       'Away Fouls committed', 'Away Corners', 'Away Total shots.',
       'Away Shots off target', 'Away Shots on target.', 'Away Blocked shots',
       'Away Hit woodwork', 'Away Shots inside box', 'Away Shots outside box',
       'Away Expected goals (xG)', 'Away xG open play', 'Away xG set play',
       'Away Non-penalty xG', 'Away xG on target (xGOT)', 'Away Passes',
       'Away Accurate passes.1', 'Away Own half', 'Away Opposition half',
       'Away Accurate long balls', 'Away Accurate crosses', 'Away Throws',
       'Away Touches in opposition box', 'Away Offsides', 'Away Yellow cards',
       'Away Red cards', 'Away Tackles won', 'Away Interceptions',
       'Away Blocks', 'Away Clearances', 'Away Keeper saves', 'Away Duels won',
       'Away Ground duels won', 'Away Aerial duels won',
       'Away Successful dribbles'],
      dtype='object')

In [13]:
len(df.columns)

86

In [15]:
df['away_goals'][:3]

0    1
1    3
2    0
Name: away_goals, dtype: int64

In [17]:
df.head(1)

,stadium,attendance,home_team,away_team,home_goals,away_goals,Home Expected goals(xG),Home Total shots,Home Shots on target,Home Big chances,...,Away Red cards,Away Tackles won,Away Interceptions,Away Blocks,Away Clearances,Away Keeper saves,Away Duels won,Away Ground duels won,Away Aerial duels won,Away Successful dribbles
0,Fuball Arena Mnchen,"65,052",Germany,Scotland,5,1,2.15,20,10,1,...,1,8(53%),6,5,22,5,41,34(58%),7(44%),5(56%)

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 86 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   stadium                         51 non-null     object
 1   attendance                      51 non-null     object
 2   home_team                       51 non-null     object
 3   away_team                       51 non-null     object
 4   home_goals                      51 non-null     int64
 5   away_goals                      51 non-null     object
 6   Home Expected goals(xG)         51 non-null     float64
 7   Home Total shots                51 non-null     int64
 8   Home Shots on target            51 non-null     int64
 9   Home Big chances                51 non-null     int64
 10  Home Big chances missed         51 non-null     int64
 11  Home Accurate passes            51 non-null     object
 12  Home Fouls committed            51 non-null     int64
 13  Home Corners                    51 non-null     int64
 14  Home Total shots.               51 non-null     int64
 15  Home Shots off target           51 non-null     int64
 16  Home Shots on target.           51 non-null     int64
 17  Home Blocked shots              51 non-null     int64
 18  Home Hit woodwork               51 non-null     int64
 19  Home Shots inside box           51 non-null     int64
 20  Home Shots outside box          51 non-null     int64
 21  Home Expected goals (xG)        51 non-null     float64
 22  Home xG open play               51 non-null     float64
 23  Home xG set play                51 non-null     float64
 24  Home Non-penalty xG             51 non-null     float64
 25  Home xG on target (xGOT)        51 non-null     float64
 26  Home Passes                     51 non-null     int64
 27  Home Accurate passes.1          51 non-null     object
 28  Home Own half                   51 non-null     int64
 29  Home Opposition half            51 non-null     int64
 30  Home Accurate long balls        51 non-null     object
 31  Home Accurate crosses           51 non-null     object
 32  Home Throws                     51 non-null     int64
 33  Home Touches in opposition box  51 non-null     int64
 34  Home Offsides                   51 non-null     int64
 35  Home Yellow cards               51 non-null     int64
 36  Home Red cards                  51 non-null     int64
 37  Home Tackles won                51 non-null     object
 38  Home Interceptions              51 non-null     int64
 39  Home Blocks                     51 non-null     int64
 40  Home Clearances                 51 non-null     int64
 41  Home Keeper saves               51 non-null     int64
 42  Home Duels won                  51 non-null     int64
 43  Home Ground duels won           51 non-null     object
 44  Home Aerial duels won           51 non-null     object
 45  Home Successful dribbles        51 non-null     object
 46  Away Expected goals(xG)         51 non-null     float64
 47  Away Total shots                51 non-null     int64
 48  Away Shots on target            51 non-null     int64
 49  Away Big chances                51 non-null     int64
 50  Away Big chances missed         51 non-null     int64
 51  Away Accurate passes            51 non-null     object
 52  Away Fouls committed            51 non-null     int64
 53  Away Corners                    51 non-null     int64
 54  Away Total shots.               51 non-null     int64
 55  Away Shots off target           51 non-null     int64
 56  Away Shots on target.           51 non-null     int64
 57  Away Blocked shots              51 non-null     int64
 58  Away Hit woodwork               51 non-null     int64
 59  Away Shots inside box           51 non-null     int64
 60  Away Shots outside box          51 non-null     int64
 61  Away Expected goals (xG)        51 non-null     float64
 62  Away xG open play               51 non-null     float64
 63  Away xG set play                51 non-null     float64
 64  Away Non-penalty xG             51 non-null     float64
 65  Away xG on target (xGOT)        51 non-null     float64
 66  Away Passes                     51 non-null     int64
 67  Away Accurate passes.1          51 non-null     object
 68  Away Own half                   51 non-null     int64
 69  Away Opposition half            51 non-null     int64
 70  Away Accurate long balls        51 non-null     object
 71  Away Accurate crosses           51 non-null     object
 72  Away Throws                     51 non-null     int64
 73  Away Touches in opposition box  51 non-null     int64
 74  Away Offsides                   51 non-null     int64
 75  Away Yellow cards               51 non-null     int64
 76  Away Red cards                  51 non-null     int64
 77  Away Tackles won                51 non-null     object
 78  Away Interceptions              51 non-null     int64
 79  Away Blocks                     51 non-null     int64
 80  Away Clearances                 51 non-null     int64
 81  Away Keeper saves               51 non-null     int64
 82  Away Duels won                  51 non-null     int64
 83  Away Ground duels won           51 non-null     object
 84  Away Aerial duels won           51 non-null     object
 85  Away Successful dribbles        51 non-null     object
dtypes: float64(12), int64(53), object(21)
memory usage: 34.4+ KB

In [185]:
df.describe()

,home_goals,Home Expected goals(xG),Home Total shots,Home Shots on target,Home Big chances,Home Big chances missed,Home Fouls committed,Home Corners,Home Total shots.,Home Shots off target,...,Away Throws,Away Touches in opposition box,Away Offsides,Away Yellow cards,Away Red cards,Away Interceptions,Away Blocks,Away Clearances,Away Keeper saves,Away Duels won
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,...,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,1.274510,1.375686,13.372549,4.725490,2.392157,1.705882,11.607843,5.333333,13.372549,4.686275,...,16.137255,21.098039,1.529412,2.333333,0.039216,7.039216,3.921569,21.098039,3.490196,45.960784
std,1.096876,0.752216,6.059574,2.764622,1.732956,1.460056,3.458777,3.121965,6.059574,2.810624,...,4.967976,10.923836,1.591891,1.966384,0.196039,3.026290,2.423577,9.535733,2.309741,8.953124
min,0.000000,0.170000,4.000000,0.000000,0.000000,0.000000,6.000000,1.000000,4.000000,0.000000,...,8.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000,4.000000,0.000000,26.000000
25%,0.500000,0.780000,9.500000,3.000000,1.000000,1.000000,9.000000,3.000000,9.500000,3.000000,...,12.000000,12.500000,0.000000,1.000000,0.000000,5.000000,2.000000,15.000000,2.000000,40.000000
50%,1.000000,1.320000,13.000000,4.000000,2.000000,1.000000,11.000000,5.000000,13.000000,4.000000,...,16.000000,19.000000,1.000000,2.000000,0.000000,7.000000,3.000000,19.000000,3.000000,44.000000
75%,2.000000,1.765000,17.500000,6.500000,4.000000,3.000000,14.000000,6.000000,17.500000,5.500000,...,18.500000,28.500000,2.000000,3.000000,0.000000,9.000000,6.000000,26.500000,5.000000,50.000000
max,5.000000,3.360000,35.000000,13.000000,6.000000,6.000000,19.000000,13.000000,35.000000,16.000000,...,29.000000,50.000000,6.000000,11.000000,1.000000,16.000000,11.000000,55.000000,9.000000,72.000000

# Indexing

In [16]:
df.iloc[0] # row by index

stadium                     Fuball Arena Mnchen
attendance                               65,052
home_team                               Germany
away_team                              Scotland
home_goals                                    5
                                   ...
Away Keeper saves                             5
Away Duels won                               41
Away Ground duels won                   34(58%)
Away Aerial duels won                    7(44%)
Away Successful dribbles                 5(56%)
Name: 0, Length: 86, dtype: object

In [18]:
df.loc[0] # row by label

stadium                     Fuball Arena Mnchen
attendance                               65,052
home_team                               Germany
away_team                              Scotland
home_goals                                    5
                                   ...
Away Keeper saves                             5
Away Duels won                               41
Away Ground duels won                   34(58%)
Away Aerial duels won                    7(44%)
Away Successful dribbles                 5(56%)
Name: 0, Length: 86, dtype: object

Looks like index and label are the same. By default, they are. The row's label, is a numeric index. You can change this to make your data easier to handle.

In [20]:
rows_labels = []
for i in range(len(df)):
    rows_labels.append(f'row{i}')

In [23]:
df.index = rows_labels

In [25]:
df.loc['row3']

stadium                     BVB Stadion Dortmund
attendance                                60,512
home_team                                  Italy
away_team                                Albania
home_goals                                     2
                                    ...
Away Keeper saves                              3
Away Duels won                                26
Away Ground duels won                    16(39%)
Away Aerial duels won                    10(63%)
Away Successful dribbles                  2(29%)
Name: row3, Length: 86, dtype: object

# Filtering

In [26]:
df.head()

,stadium,attendance,home_team,away_team,home_goals,away_goals,Home Expected goals(xG),Home Total shots,Home Shots on target,Home Big chances,...,Away Red cards,Away Tackles won,Away Interceptions,Away Blocks,Away Clearances,Away Keeper saves,Away Duels won,Away Ground duels won,Away Aerial duels won,Away Successful dribbles
row0,Fuball Arena Mnchen,"65,052",Germany,Scotland,5,1,2.15,20,10,1,...,1,8(53%),6,5,22,5,41,34(58%),7(44%),5(56%)
row1,Cologne Stadium,"41,676",Hungary,Switzerland,1,3,1.25,6,2,3,...,0,9(69%),6,1,17,1,41,26(45%),15(48%),5(38%)
row2,Olympiastadion Berlin,"68,844",Spain,Croatia,3,0,2.01,11,5,4,...,0,10(71%),9,3,4,2,47,37(51%),10(34%),10(77%)
row3,BVB Stadion Dortmund,"60,512",Italy,Albania,2,1,1.56,17,5,5,...,0,5(63%),13,6,15,3,26,16(39%),10(63%),2(29%)
row4,Volksparkstadion,"48,117",Poland,Netherlands,1,2,1.32,12,7,2,...,0,11(79%),3,1,21,6,54,38(56%),16(64%),14(70%)

In [27]:
df[df['home_team'] == 'Germany']

,stadium,attendance,home_team,away_team,home_goals,away_goals,Home Expected goals(xG),Home Total shots,Home Shots on target,Home Big chances,...,Away Red cards,Away Tackles won,Away Interceptions,Away Blocks,Away Clearances,Away Keeper saves,Away Duels won,Away Ground duels won,Away Aerial duels won,Away Successful dribbles
row0,Fuball Arena Mnchen,"65,052",Germany,Scotland,5,1,2.15,20,10,1,...,1,8(53%),6,5,22,5,41,34(58%),7(44%),5(56%)
row13,Stuttgart Arena,"54,000",Germany,Hungary,2,0,1.40,19,7,3,...,0,6(46%),5,6,31,5,41,29(48%),12(52%),4(25%)
row37,BVB Stadion Dortmund,"61,612",Germany,Denmark,2,0,2.58,15,9,5,...,0,12(67%),4,1,18,7,40,29(49%),11(42%),4(80%)

In [28]:
df[df['Home Expected goals (xG)'] > 3]

,stadium,attendance,home_team,away_team,home_goals,away_goals,Home Expected goals(xG),Home Total shots,Home Shots on target,Home Big chances,...,Away Red cards,Away Tackles won,Away Interceptions,Away Blocks,Away Clearances,Away Keeper saves,Away Duels won,Away Ground duels won,Away Aerial duels won,Away Successful dribbles
row10,BVB Stadion Dortmund,"59,127",Turkiye,Georgia,3,1,3.01,22,8,5,...,0,16(70%),8,7,27,5,52,39(58%),13(41%),6(30%)
row39,Cologne Stadium,"42,233",Spain,Georgia,4,1,3.36,35,13,5,...,0,10(50%),7,11,28,9,41,36(51%),5(33%),7(41%)
row43,Leipzig Stadium,"38,305",Austria,Turkiye,1,2,3.14,21,5,5,...,0,8(40%),13,7,55,4,56,39(62%),17(46%),7(58%)

# Data Cleaning & Processing

In [76]:
data = {
    'Team': ['Spain', None, 'Israel'],
    'Chance_of_winning': [100, None, 0.01],
    'City': ['Barcelona', 'Manchester', None]
}

temp_df = pd.DataFrame(data)

As Chance_of_winning is a column of floats, None is "NaN"

In [77]:
temp_df.head()

     Team  Chance_of_winning        City
0   Spain             100.00   Barcelona
1    None                NaN  Manchester
2  Israel               0.01        None

In [78]:
print(temp_df.isnull())

    Team  Chance_of_winning   City
0  False              False  False
1   True               True  False
2  False              False   True

In [79]:
df_cleaned = temp_df.dropna()
print(df_cleaned)

    Team  Chance_of_winning       City
0  Spain              100.0  Barcelona

In [80]:
df_filled = temp_df.fillna(value={'Chance_of_winning': temp_df['Chance_of_winning'].mean()})
print(df_filled)

     Team  Chance_of_winning        City
0   Spain            100.000   Barcelona
1    None             50.005  Manchester
2  Israel              0.010        None

In [82]:
df_filled

     Team  Chance_of_winning        City
0   Spain            100.000   Barcelona
1    None             50.005  Manchester
2  Israel              0.010        None

In [84]:
(100 + 0.01) / 2

50.005

# Columns Renaming

In [85]:
df.head()

,stadium,attendance,home_team,away_team,home_goals,away_goals,Home Expected goals(xG),Home Total shots,Home Shots on target,Home Big chances,...,Away Red cards,Away Tackles won,Away Interceptions,Away Blocks,Away Clearances,Away Keeper saves,Away Duels won,Away Ground duels won,Away Aerial duels won,Away Successful dribbles
row0,Fuball Arena Mnchen,"65,052",Germany,Scotland,5,1,2.15,20,10,1,...,1,8(53%),6,5,22,5,41,34(58%),7(44%),5(56%)
row1,Cologne Stadium,"41,676",Hungary,Switzerland,1,3,1.25,6,2,3,...,0,9(69%),6,1,17,1,41,26(45%),15(48%),5(38%)
row2,Olympiastadion Berlin,"68,844",Spain,Croatia,3,0,2.01,11,5,4,...,0,10(71%),9,3,4,2,47,37(51%),10(34%),10(77%)
row3,BVB Stadion Dortmund,"60,512",Italy,Albania,2,1,1.56,17,5,5,...,0,5(63%),13,6,15,3,26,16(39%),10(63%),2(29%)
row4,Volksparkstadion,"48,117",Poland,Netherlands,1,2,1.32,12,7,2,...,0,11(79%),3,1,21,6,54,38(56%),16(64%),14(70%)

In [88]:
df_renamed = df.rename(columns={'stadium': 'Game location', 'Away Red cards': 'red cards for away team'})
df_renamed

,Game location,attendance,home_team,away_team,home_goals,away_goals,Home Expected goals(xG),Home Total shots,Home Shots on target,Home Big chances,...,red cards for away team,Away Tackles won,Away Interceptions,Away Blocks,Away Clearances,Away Keeper saves,Away Duels won,Away Ground duels won,Away Aerial duels won,Away Successful dribbles
row0,Fuball Arena Mnchen,"65,052",Germany,Scotland,5,1,2.15,20,10,1,...,1,8(53%),6,5,22,5,41,34(58%),7(44%),5(56%)
row1,Cologne Stadium,"41,676",Hungary,Switzerland,1,3,1.25,6,2,3,...,0,9(69%),6,1,17,1,41,26(45%),15(48%),5(38%)
row2,Olympiastadion Berlin,"68,844",Spain,Croatia,3,0,2.01,11,5,4,...,0,10(71%),9,3,4,2,47,37(51%),10(34%),10(77%)
row3,BVB Stadion Dortmund,"60,512",Italy,Albania,2,1,1.56,17,5,5,...,0,5(63%),13,6,15,3,26,16(39%),10(63%),2(29%)
row4,Volksparkstadion,"48,117",Poland,Netherlands,1,2,1.32,12,7,2,...,0,11(79%),3,1,21,6,54,38(56%),16(64%),14(70%)
row5,Stuttgart Arena,"54,000",Slovenia,Denmark,1,1,1.10,11,2,2,...,0,2(29%),5,2,17,1,40,19(42%),21(70%),1(11%)
row6,Arena AufSchalke,"48,953",Serbia,England,0,1,0.18,6,1,0,...,0,6(67%),8,3,22,1,50,36(56%),14(64%),8(44%)
row7,Fuball Arena Mnchen,"61,591",Romania,Ukraine,3,0,1.20,9,5,1,...,0,11(65%),5,2,7,2,43,32(54%),11(52%),7(64%)
row8,Frankfurt Arena,"45,181",Belgium,Slovakia,0,1,1.70,16,5,4,...,0,4(50%),9,6,19,5,37,27(46%),10(56%),6(67%)
row9,Dsseldorf Arena,"46,425",Austria,France,0,1,0.76,6,3,2,...,0,7(47%),6,1,31,3,64,45(53%),19(70%),12(50%)
row10,BVB Stadion Dortmund,"59,127",Turkiye,Georgia,3,1,3.01,22,8,5,...,0,16(70%),8,7,27,5,52,39(58%),13(41%),6(30%)
row11,Leipzig Stadium,"38,421",Portugal,Czechia,2,1,1.85,19,8,4,...,0,10(63%),11,7,31,7,40,25(49%),15(38%),4(40%)
row12,Volksparkstadion,"46,784",Croatia,Albania,2,2,2.68,22,10,5,...,0,7(64%),9,6,26,8,36,28(39%),8(29%),3(33%)
row13,Stuttgart Arena,"54,000",Germany,Hungary,2,0,1.40,19,7,3,...,0,6(46%),5,6,31,5,41,29(48%),12(52%),4(25%)
row14,Cologne Stadium,"42,711",Scotland,Switzerland,1,1,0.76,12,3,2,...,0,5(56%),8,3,24,2,38,25(54%),13(34%),5(56%)
row15,Fuball Arena Mnchen,"63,028",Slovenia,Serbia,1,1,1.37,11,4,2,...,0,10(59%),5,3,15,3,57,38(53%),19(49%),8(47%)
row16,Frankfurt Arena,"46,177",Denmark,England,1,1,0.82,16,7,1,...,0,7(70%),7,5,16,6,47,34(57%),13(41%),11(52%)
row17,Arena AufSchalke,"49,528",Spain,Italy,1,0,2.02,20,9,6,...,0,16(50%),9,4,15,8,61,50(53%),11(55%),2(33%)
row18,Dsseldorf Arena,"43,910",Slovakia,Ukraine,1,2,0.86,14,5,2,...,0,11(58%),8,5,19,4,44,33(52%),11(65%),5(63%)
row19,Olympiastadion Berlin,"69,455",Poland,Austria,1,3,1.68,15,3,2,...,0,5(45%),16,7,19,2,43,30(50%),13(52%),5(63%)
row20,Leipzig Stadium,"38,531",Netherlands,France,0,0,0.47,8,4,1,...,0,7(54%),2,3,9,4,38,34(68%),4(40%),9(69%)
row21,Volksparkstadion,"46,524",Georgia,Czechia,1,1,1.11,5,1,2,...,0,16(73%),3,1,19,0,56,35(45%),21(66%),3(21%)
row22,BVB Stadion Dortmund,"61,047",Turkiye,Portugal,0,3,0.72,11,3,1,...,0,6(40%),9,4,18,3,49,39(51%),10(63%),8(36%)
row23,Cologne Stadium,"42,535",Belgium,Romania,2,0,1.76,20,9,3,...,0,9(43%),4,6,24,7,39,31(44%),8(36%),1(17%)
row24,Stuttgart Arena,"54,000",Scotland,Hungary,0,1,0.17,4,0,0,...,0,9(45%),6,3,15,0,57,36(55%),21(36%),3(25%)
row25,Frankfurt Arena,"46,685",Switzerland,Germany,1,1,0.60,4,3,1,...,0,9(53%),7,0,11,2,48,40(57%),8(50%),10(67%)
row26,Dsseldorf Arena,"46,586",Albania,Spain,0,1,0.48,10,4,0,...,0,12(75%),5,3,20,4,42,27(38%),15(68%),6(33%)
row27,Leipzig Stadium,"38,322",Croatia,Italy,1,1,1.49,6,4,3,...,0,4(31%),1,1,13,3,46,34(54%),12(80%),5(50%)
row28,BVB Stadion Dortmund,"59,728",France,Poland,1,1,2.32,19,8,5,...,0,10(53%),10,8,31,7,41,38(46%),3(23%),7(54%)
row29,Olympiastadion Berlin,"68,363",Netherlands,Austria,2,3,1.73,11,2,4,...,0,16(70%),10,3,14,0,49,39(48%),10(38%),7(70%)
row30,Fuball Arena Mnchen,"64,288",Denmark,Serbia,0,0,0.67,10,3,1,...,0,7(50%),8,2,25,3,46,25(60%),21(45%),2(33%)
row31,Cologne Stadium,"41,536",England,Slovenia,0,0,0.80,12,4,1,...,0,10(67%),4,4,24,3,35,29(60%),6(46%),4(67%)
row32,Frankfurt Arena,"45,033",Slovakia,Romania,1,1,0.86,13,4,1,...,0,7(70%),7,2,29,3,39,27(57%),12(39%),7(70%)
row33,Stuttgart Arena,"54,000",Ukraine,Belgium,0,0,0.82,13,4,0,...,0,3(75%),2,4,10,4,32,20(40%),12(44%),8(53%)
row34,Volksparkstadion,"47,683",Czechia,Turkiye,1,2,1.62,12,7,4,...,0,11(73%),4,3,19,5,60,42(66%),18(51%),12(67%)
row35,Arena AufSchalke,"49,616",Georgia,Portugal,2,0,1.65,7,3,3,...,0,10(56%),8,1,10,1,49,37(48%),12(63%),13(50%)
row36,Olympiastadion Berlin,"68,172",Switzerland,Italy,2,0,1.25,16,4,2,...,0,10(83%),8,6,17,2,39,28(50%),11(58%),7(58%)
row37,BVB Stadion Dortmund,"61,612",Germany,Denmark,2,0,2.58,15,9,5,...,0,12(67%),4,1,18,7,40,29(49%),11(42%),4(80%)
row38,Arena AufSchalke,"47,244",England,Slovakia,2,1,1.52,16,2,2,...,0,12(57%),9,7,44,0,61,34(41%),27(55%),2(29%)
row39,Cologne Stadium,"42,233",Spain,Georgia,4,1,3.36,35,13,5,...,0,10(50%),7,11,28,9,41,36(51%),5(33%),7(41%)
row40,Dsseldorf Arena,"46,810",France,Belgium,1,0,1.06,19,2,1,...,0,11(65%),7,1,18,2,40,30(47%),10(59%),6(43%)
row41,Frankfurt Arena,"46,576",Portugal,Slovenia,0,0,1.97,20,6,1,...,0,22(61%),9,6,37,6,72,48(44%),24(52%),7(41%)
row42,Fuball Arena Mnchen,"65,012",Romania,Netherlands,0,3,0.28,5,1,0,...,0,4(33%),9,1,23,1,47,31(62%),16(70%),11(69%)
row43,Leipzig Stadium,"38,305",Austria,Turkiye,1,2,3.14,21,5,5,...,0,8(40%),13,7,55,4,56,39(62%),17(46%),7(58%)
row44,Stuttgart Arena,"54,000",Spain,Germany,2,1,1.41,18,6,3,...,0,14(61%),9,3,19,4,56,46(48%),10(33%),7(44%)
row45,Volksparkstadion,"47,789",Portugal,France,0,0,1.84,15,4,4,...,0,13(59%),6,6,35,4,48,44(52%),4(57%),14(61%)
row46,Dsseldorf Arena,"46,907",England,Switzerland,1,1,0.65,13,3,0,...,0,12(63%),3,8,30,2,42,34(42%),8(40%),7(54%)
row47,Olympiastadion Berlin,"70,091",Netherlands,Turkiye,2,1,1.09,11,4,2,...,1,7(41%),12,3,15,3,47,37(60%),10(45%),5(42%)
row48,Fuball Arena Mnchen,"62,042",Spain,France,2,1,0.75,6,2,1,...,0,12(63%),5,2,16,0,50,35(56%),15(75%),8(62%)
row49,BVB Stadion Dortmund,"60,926",Netherlands,England,1,2,0.54,7,2,0,...,0,6(60%),7,2,5,2,34,26(57%),8(47%),6(55%)
row50,Olympiastadion Berlin,"65,600",Spain,England,2,1,1.77,16,6,5,...,0,12(67%),5,5,27,4,43,33(60%),10(43%),4(33%)

# Modifying Data Types

In [96]:
df['away_goals'][0]

1

In [97]:
df['away_goals'] = df['away_goals'].astype(str)

In [98]:
df['away_goals'][0]

'1'

# Aggregation and Grouping

In [99]:
df.head()

,stadium,attendance,home_team,away_team,home_goals,away_goals,Home Expected goals(xG),Home Total shots,Home Shots on target,Home Big chances,...,Away Red cards,Away Tackles won,Away Interceptions,Away Blocks,Away Clearances,Away Keeper saves,Away Duels won,Away Ground duels won,Away Aerial duels won,Away Successful dribbles
0,Fuball Arena Mnchen,"65,052",Germany,Scotland,5,1,2.15,20,10,1,...,1,8(53%),6,5,22,5,41,34(58%),7(44%),5(56%)
1,Cologne Stadium,"41,676",Hungary,Switzerland,1,3,1.25,6,2,3,...,0,9(69%),6,1,17,1,41,26(45%),15(48%),5(38%)
2,Olympiastadion Berlin,"68,844",Spain,Croatia,3,0,2.01,11,5,4,...,0,10(71%),9,3,4,2,47,37(51%),10(34%),10(77%)
3,BVB Stadion Dortmund,"60,512",Italy,Albania,2,1,1.56,17,5,5,...,0,5(63%),13,6,15,3,26,16(39%),10(63%),2(29%)
4,Volksparkstadion,"48,117",Poland,Netherlands,1,2,1.32,12,7,2,...,0,11(79%),3,1,21,6,54,38(56%),16(64%),14(70%)

In [108]:
games_by_home_team = df.groupby('home_team')
games_by_home_team['home_goals'].mean()

home_team
Albania        0.000000
Austria        0.500000
Belgium        1.000000
Croatia        1.500000
Czechia        1.000000
Denmark        0.500000
England        1.000000
France         1.000000
Georgia        1.500000
Germany        3.000000
Hungary        1.000000
Italy          2.000000
Netherlands    1.250000
Poland         1.000000
Portugal       0.666667
Romania        1.500000
Scotland       0.500000
Serbia         0.000000
Slovakia       1.000000
Slovenia       1.000000
Spain          2.333333
Switzerland    1.500000
Turkiye        1.500000
Ukraine        0.000000
Name: home_goals, dtype: float64

In [110]:
df[df['home_team'] == 'Slovenia']

,stadium,attendance,home_team,away_team,home_goals,away_goals,Home Expected goals(xG),Home Total shots,Home Shots on target,Home Big chances,...,Away Red cards,Away Tackles won,Away Interceptions,Away Blocks,Away Clearances,Away Keeper saves,Away Duels won,Away Ground duels won,Away Aerial duels won,Away Successful dribbles
5,Stuttgart Arena,"54,000",Slovenia,Denmark,1,1,1.10,11,2,2,...,0,2(29%),5,2,17,1,40,19(42%),21(70%),1(11%)
15,Fuball Arena Mnchen,"63,028",Slovenia,Serbia,1,1,1.37,11,4,2,...,0,10(59%),5,3,15,3,57,38(53%),19(49%),8(47%)

In [114]:
aggregated_by_few_measurements = df.groupby('home_team').agg({'Home Shots on target': ['mean', 'min', 'max']})
aggregated_by_few_measurements

            Home Shots on target
                            mean min max
home_team
Albania                 4.000000   4   4
Austria                 4.000000   3   5
Belgium                 7.000000   5   9
Croatia                 7.000000   4  10
Czechia                 7.000000   7   7
Denmark                 5.000000   3   7
England                 3.000000   2   4
France                  5.000000   2   8
Georgia                 2.000000   1   3
Germany                 8.666667   7  10
Hungary                 2.000000   2   2
Italy                   5.000000   5   5
Netherlands             3.000000   2   4
Poland                  5.000000   3   7
Portugal                6.000000   4   8
Romania                 3.000000   1   5
Scotland                1.500000   0   3
Serbia                  1.000000   1   1
Slovakia                4.500000   4   5
Slovenia                3.000000   2   4
Spain                   6.833333   2  13
Switzerland             3.500000   3   4
Turkiye                 5.500000   3   8
Ukraine                 4.000000   4   4

# Concats & Merges

In [176]:
data = {
    'Team': ['Spain', 'England', 'Israel'],
    'Chance_of_winning': [100, 50, 0.01],
    'City': ['Barcelona', 'Manchester', 'Mitzpe Ramon']
}

merge_df1 = pd.DataFrame(data)

In [177]:
data = {
    'Team': ['Spain', 'England', 'Israel', 'Slovenia'],
    'num_home_games': [10, 11, 16, 12],
    'avg_players_salary': [100, 200, 300, 400]
}

merge_df2 = pd.DataFrame(data)

In [179]:
merge_df1.head()

      Team  Chance_of_winning          City
0    Spain             100.00     Barcelona
1  England              50.00    Manchester
2   Israel               0.01  Mitzpe Ramon

In [181]:
merge_df2.head()

       Team  num_home_games  avg_players_salary
0     Spain              10                 100
1   England              11                 200
2    Israel              16                 300
3  Slovenia              12                 400

## Concats

In [178]:
pd.concat([merge_df1, merge_df2])

,Team,Chance_of_winning,City,num_home_games,avg_players_salary
0,Spain,100.00,Barcelona,NaN,NaN
1,England,50.00,Manchester,NaN,NaN
2,Israel,0.01,Mitzpe Ramon,NaN,NaN
0,Spain,NaN,NaN,10.0,100.0
1,England,NaN,NaN,11.0,200.0
2,Israel,NaN,NaN,16.0,300.0
3,Slovenia,NaN,NaN,12.0,400.0

## Merges

In [163]:
merge_df1.head()

      Team  Chance_of_winning          City
0    Spain             100.00     Barcelona
1  England              50.00    Manchester
2   Israel               0.01  Mitzpe Ramon

In [164]:
merge_df2.head()

       Team  num_home_games  avg_players_salary
0     Spain              10                 100
1   England              11                 200
2    Israel              16                 300
3  Slovenia              12                 400

In [167]:
merge_df1.merge(merge_df2, on='Team')

,Team,Chance_of_winning,City,num_home_games,avg_players_salary
0,Spain,100.00,Barcelona,10,100
1,England,50.00,Manchester,11,200
2,Israel,0.01,Mitzpe Ramon,16,300

In [168]:
merge_df1.merge(merge_df2, how='outer', on='Team')

,Team,Chance_of_winning,City,num_home_games,avg_players_salary
0,Spain,100.00,Barcelona,10,100
1,England,50.00,Manchester,11,200
2,Israel,0.01,Mitzpe Ramon,16,300
3,Slovenia,NaN,NaN,12,400

In [170]:
merge_df1

      Team  Chance_of_winning          City
0    Spain             100.00     Barcelona
1  England              50.00    Manchester
2   Israel               0.01  Mitzpe Ramon

In [169]:
merge_df1.merge(merge_df2, how='left', on='Team')

,Team,Chance_of_winning,City,num_home_games,avg_players_salary
0,Spain,100.00,Barcelona,10,100
1,England,50.00,Manchester,11,200
2,Israel,0.01,Mitzpe Ramon,16,300

In [172]:
merge_df2

       Team  num_home_games  avg_players_salary
0     Spain              10                 100
1   England              11                 200
2    Israel              16                 300
3  Slovenia              12                 400

In [171]:
merge_df1.merge(merge_df2, how='right', on='Team')

,Team,Chance_of_winning,City,num_home_games,avg_players_salary
0,Spain,100.00,Barcelona,10,100
1,England,50.00,Manchester,11,200
2,Israel,0.01,Mitzpe Ramon,16,300
3,Slovenia,NaN,NaN,12,400

,Team,Chance_of_winning,City,num_home_games,avg_players_salary
0,Spain,100.00,Barcelona,NaN,NaN
1,England,50.00,Manchester,NaN,NaN
2,Israel,0.01,Mitzpe Ramon,NaN,NaN
0,Spain,NaN,NaN,10.0,100.0
1,England,NaN,NaN,11.0,200.0
2,Israel,NaN,NaN,16.0,300.0
3,Slovenia,NaN,NaN,12.0,400.0

# Exercises

## Exercise 1

Filter Matches with High Attendance:

Filter and display matches with an attendance greater than some x you choose. If it doesn't work, try to find out why and fix it.

### Hint - Only Open If Necessary

One way is removing the ',' and then converting the entire series to a numeric datatype.

Look into Python's built in 'some_string'.str.replace method

## Exercise 2

Calculate Average Goals:

Calculate the average number of goals scored by home and away teams.

## Exercise 3

Goals by Stadium:

Group the data by stadium and calculate the total (both home and away) number of goals scored in each stadium.

## Exercise 4

Calculate Goal Difference:

Create a new column that calculates the goal difference for each match.

## Exercise 5

Expected Goals Analysis:

Compare the actual goals to the expected goals (xG) for home and away teams.